:root {
    --main-font:  'DynaPuff', cursive;
    --side-font: 'Open Sans', sans-serif;
}
body {
    line-height: 2rem;
    font-family: var(--main-font);
    color: black; 
    letter-spacing: 0.125rem;
    background: rgb(183,235,115);
    background: linear-gradient(45deg, rgba(183,235,115,1) 1%, rgba(175,214,221,0.9048723897911833) 50%, rgba(23,105,255,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    row-gap: 1rem;
    min-height: 100vh;
    width: 100%;
}


p {
    font-weight: 500;
    font-family: var(--side-font);
}

h1 {
    font-size: 1.3rem;
    font-weight: 600;
    font-family: var(--main-font);
}
h2 {
    font-family: var(--main-font);
    letter-spacing: 0;  
}
h3 {
    font-family: var(--side-font);
    font-weight: 600;
}

.header-text {
    background-color: rgba(255, 255, 255, 0.767); 
    width: 40vw;
    border-radius: 1em;
    text-align: center;
    margin-top: 1rem;
}

.question {
    background-color: lightgray;
    border-radius: 1em;
    font-family: var(--side-font);
    font-weight: 600;
    padding: 0 1rem;
    width: fit-content;
    margin: 0 2rem;
}

.text-answer {
    font-family: var(--side-font);
    padding: 0 3rem;
}
.answer {
    text-align: left;
    font-family: var(--side-font);
    padding: 0 4rem;
}

.answr-headline {
padding: 0 3rem;
}



nav {
    display: none;
}

.btn {
    width: 80vw;
    height: fit-content;
    flex-grow: 4;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.767);
    color: #444;
    cursor: pointer;
    border: none;
    border-radius: 1em;
    outline: none;
    transition: 0.5s;

    }

.btn-smaller {
    min-height: 4rem; 
}

.btn:hover {
    background-color: rgb(255, 255, 255);
}
 
.sections {
    display: none;
    width: 80vw;
    padding: 1rem 0;
    background-color: white;
    border-radius: 1em;
    transition: 0.4s;
    min-height: 60vh;
}

.displayed {
    display: block;
}

.projects-container {
    display: flex;
    justify-content: center;
}

.project-1 {
    width: 70vw;
}
.project-1 h2 {
    text-align: center;

}
.project-button img {
    display: block;
    height: 100%;
}


.project-button:hover {
    border: 0.2rem solid greenyellow;
    box-shadow: 0 0 6px green;
}

.git-button {
    display: block;
    padding: 0.5rem 0;
    margin: auto;
    width: 5rem;
    height: 3rem;
}

.skills h2 {
    padding: 0 2rem;
}
.skills p {
    padding: 0 3rem;
}
footer {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    width: 80vw;
}

footer img {
    display: block;
    
}
footer a {
    display: block;
    height: 50%;
}


.contact a {
display: block;
    width: 5rem;
    height: 100%;
}

.tech-img {
    height: 7vh;
    width: 19.3vw;

}


@media (min-width: 50rem) {
    .mobile {
        display: none;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80vw;
        column-gap: 1rem;
    }

   .active {
        display: block;
    }

    .project-1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 5vw;
    }
    .project-button {
        display: block; 


    }
    .project-1 div {

        padding: 1rem;

    }
    .project-1 p {
        padding: 1rem;
    }
    .btn {
        padding: 2vh 0;
    }

}

@media (min-width: 70rem) {
    nav {
        width: 60vw;
    }
    .sections {
        width: 60vw;
    }

}


@media (min-width: 80rem) {
  
    nav {
        width: 50vw;
     }

    .sections {
        width: 50vw;
     }
}



@media (max-height: 50rem) and (min-width: 50rem) {
    .two-columns {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
       
    }
}